/* common hero styles */
.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 45px 0px 0px 0px;
    margin-top: -4px;
    /* margin-bottom: -4px; */
    color: #ffffff;

}

/* left column */
.hero-section > .left-text {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    width: 680px;
    padding: 0px 90px 0px 50px;
}

.hero-section > .left-text > .anon-header {
    font-size: 2.75em;
    font-weight: lighter;
}

.hero-section > .left-text > .text {
    font-size: 2em;
    font-weight: 300;
    line-height: 50px;
    width: 630px;
    color: #c7c9d3;
}

/* right column */
.hero-section > .right-text {
    display: grid;

}

.hero-section > .right-text > .codepen {
    font-size: 1.5em;    
    /* font-weight: bold; */
    color: #75d6e6;
    padding: 0px 15px;
}

.p-first-two {
    color: #ffffff;
}

.hero-section > .right-text > .img-wrapper img {
    border: 1px solid #333;
    width: 100%;
    box-shadow: 0 0 50px rgba(0,0,0,0.75);
    clip-path: inset(0 0 0 -50px);
}